
/* CONSOLE STYLES */

#console {
   width: 100%;
   background-color: #272727;
   padding: 50px;
   min-height: 100%;
   z-index: 4000;
   position: absolute;
}

#console pre {
   background: transparent;
   border-radius: 0px;
   margin: 0px;
   border: 0px;
   color: #bbfb87;
   font-family: 'Share Tech Mono';
   white-space: pre-wrap;
   white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
   white-space: -pre-wrap;      /* Opera 4-6 */
   white-space: -o-pre-wrap;    /* Opera 7 */
   word-wrap: break-word;       /* Internet Explorer 5.5+ */
   word-break: initial;
}

#console pre a {
   color: #ffff99;
}

#console pre a:hover {
   text-decoration: underline;
}

#console pre .output {
   color: white;
}

.prompter {
   font-style: unset;
   font-size: 1em;
}

.prompter.idle {
   animation: blink 1100ms linear infinite;
   -webkit-animation: blink 1100ms linear infinite;
}

@keyframes blink {
   49% {opacity: 1;}
   50% {opacity: 0;}
   89% {opacity: 0;}
   90% {opacity: 1;}
}

@-webkit-keyframes blink {
   49% {opacity: 1;}
   50% {opacity: 0;}
   89% {opacity: 0;}
   90% {opacity: 1;}
}

@media (max-width: 991px) {
   #console {
      padding: 20px;
   }
}

